.top-buffer {
  margin-top: 25px;
}

.small-buffer {
  margin-top: 18px;
}

.bottom-buffer {
  margin-bottom: 150px;
}

body {
  font-size: 1.2em;
  margin-left: 100px;
  margin-right: 100px;
  max-width: 1000px;
}

code {
  background: #f4f4f4;
  color: #666;
  font-family: monospace;
  font-size: 15px;

  #background-color: #f5f5f5;
}

h1, h2, h3 {
  color: #a333c8;
}

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
